<div class="widget tag">
<h3 class="title">友情链接</h3>
<ul class="entry">
<li><a href="http://abbeychenxi.net/" title="Abbey in cradle studio">Abbey</a></li>
<li><a href="http://andrewliu.tk/" title="Andrew Liu">Andrew Liu</a></li>
<li><a href="http://jas923.tk/" title="Jason Tan">Janson Tan</a></li>
<li><a href="http://sqing.tk/" title="Su Qing">Su Qing</a></li>
<li><a href="http://rulerstorm.github.io/" title="Ruler">Ruler</a></li>

</ul>
</div>
